useDynLib(mRMRe, .fixes=".C_",
    build_mim, build_mRMR_tree,
    compute_concordance_index, compute_concordance_index_with_time,
    compute_cramers_v, compute_pearson_correlation, compute_spearman_correlation,
    set_thread_count)
exportPattern("^[^\\.]")